<div class="col-lg-12 mb-4">
  <!-- Card for Edit Employee Info Header -->
   

  <!-- Form for Editing Employee Info -->
  <%= form_with model: @employee do |form| %>
    <div class="row mb-2">
      <!-- First Name -->
      <div class="col-lg-6">
        <div class="form-group">
          <%= form.label :first_name, class: 'mb-2 text-dark' %>
          <%= form.text_field :first_name, class: 'form-control form-control-lg rounded-lg text-dark bg-light' %>
          <% @employee.errors.full_messages_for(:first_name).each do |message| %>
            <p class="text-danger"><%= message %></p>
          <% end %>
        </div>
      </div>

      <!-- Last Name -->
      <div class="col-lg-6">
        <div class="form-group">
          <%= form.label :last_name, class: 'mb-2 text-dark' %>
          <%= form.text_field :last_name, class: 'form-control form-control-lg rounded-lg text-dark bg-light' %>
          <% @employee.errors.full_messages_for(:last_name).each do |message| %>
            <p class="text-danger"><%= message %></p>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Date of Birth -->
    <div class="row mb-2">
      <div class="col-lg-4">
        <div class="form-group">
          <%= form.label :date_of_birth, class: 'mb-2 text-dark' %>
          <%= form.date_field :date_of_birth, class: 'form-control form-control-lg rounded-lg text-dark bg-light' %>
          <% @employee.errors.full_messages_for(:date_of_birth).each do |message| %>
            <p class="text-danger"><%= message %></p>
          <% end %>
        </div>
      </div>

      <!-- Date of Joining -->
      <div class="col-lg-4">
        <div class="form-group">
          <%= form.label :date_of_joining, class: 'mb-2 text-dark' %>
          <%= form.date_field :date_of_joining, class: 'form-control form-control-lg rounded-lg text-dark bg-light' %>
          <% @employee.errors.full_messages_for(:date_of_joining).each do |message| %>
            <p class="text-danger"><%= message %></p>
          <% end %>
        </div>
      </div>

      <!-- Job Title -->
      <div class="col-lg-4">
        <div class="form-group">
          <%= form.label :job_title, class: 'mb-2 text-dark' %>
          <%= form.text_field :job_title, class: 'form-control form-control-lg rounded-lg text-dark bg-light' %>
          <% @employee.errors.full_messages_for(:job_title).each do |message| %>
            <p class="text-danger"><%= message %></p>
          <% end %>
        </div>
      </div>
    </div>

    <!-- About Field -->
    <div class="row mb-2">
      <div class="col-lg-12">
        <div class="form-group">
          <%= form.label :about, class: 'mb-2 text-dark' %>
          <%= form.text_area :about, class: 'form-control form-control-lg rounded-lg text-dark bg-light', rows: '5' %>
          <% @employee.errors.full_messages_for(:about).each do |message| %>
            <p class="text-danger"><%= message %></p>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Personal Email -->
    <div class="row mb-2">
      <div class="col-lg-12">
        <div class="form-group">
          <%= form.label :personal_email, class: 'mb-2 text-dark' %>
          <%= form.email_field :personal_email, class: 'form-control form-control-lg rounded-lg text-dark bg-light' %>
          <% @employee.errors.full_messages_for(:personal_email).each do |message| %>
            <p class="text-danger"><%= message %></p>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Address Fields -->
    <div class="row mb-2">
      <!-- Address Line 1 -->
      <div class="col-lg-6">
        <div class="form-group">
          <%= form.label :address_line_1, class: 'mb-2 text-dark' %>
          <%= form.text_field :address_line_1, class: 'form-control form-control-lg rounded-lg text-dark bg-light' %>
          <% @employee.errors.full_messages_for(:address_line_1).each do |message| %>
            <p class="text-danger"><%= message %></p>
          <% end %>
        </div>
      </div>

      <!-- Address Line 2 -->
      <div class="col-lg-6">
        <div class="form-group">
          <%= form.label :address_line_2, class: 'mb-2 text-dark' %>
          <%= form.text_field :address_line_2, class: 'form-control form-control-lg rounded-lg text-dark bg-light' %>
          <% @employee.errors.full_messages_for(:address_line_2).each do |message| %>
            <p class="text-danger"><%= message %></p>
          <% end %>
        </div>
      </div>
    </div>

    <!-- City, State, Country, and Pincode -->
    <div class="row mb-2">
      <!-- City -->
      <div class="col-lg-3">
        <div class="form-group">
          <%= form.label :city, class: 'mb-2 text-dark' %>
          <%= form.text_field :city, class: 'form-control form-control-lg rounded-lg text-dark bg-light' %>
          <% @employee.errors.full_messages_for(:city).each do |message| %>
            <p class="text-danger"><%= message %></p>
          <% end %>
        </div>
      </div>

      <!-- State -->
      <div class="col-lg-3">
        <div class="form-group">
          <%= form.label :state, class: 'mb-2 text-dark'  %>
          <%= form.text_field :state, class: 'form-control form-control-lg rounded-lg text-dark bg-light' %>
          <% @employee.errors.full_messages_for(:state).each do |message| %>
            <p class="text-danger"><%= message %></p>
          <% end %>
        </div>
      </div>

      <!-- Country -->
      <div class="col-lg-3">
        <div class="form-group">
          <%= form.label :country, class: 'mb-2 text-dark' %>
          <%= form.text_field :country, class: 'form-control form-control-lg rounded-lg text-dark bg-light' %>
          <% @employee.errors.full_messages_for(:country).each do |message| %>
            <p class="text-danger"><%= message %></p>
          <% end %>
        </div>
      </div>

      <!-- Pincode -->
      <div class="col-lg-3">
        <div class="form-group">
          <%= form.label :pincode, class: 'mb-2 text-dark' %>
          <%= form.text_field :pincode, class: 'form-control form-control-lg rounded-lg text-dark bg-light' %>
          <% @employee.errors.full_messages_for(:pincode).each do |message| %>
            <p class="text-danger"><%= message %></p>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Form Actions -->
    <div class="row">
      <div class="col-lg-12 mt-4 mb-4">
        <%= form.submit class: 'btn btn-primary btn-outline-light btn-lg rounded-lg' %>
        <%= link_to "Back to Employees", employees_path, class: 'btn btn-outline-primary btn-lg rounded-lg' %>
      </div>
    </div>

  <% end %>
</div>
