<%= form_with model: document do |form|%>
<div class="row">
  <div class="col-lg-4">
    <div class="form-group">  
     <%= form.label :name, class:'mb-2 text-dark' %>
    <%=form.text_field :name, class: 'form-control form-control-lg rounded-lg bg-light text-dark mb-2 ' %>
     <% @document.errors.full_messages_for(:name).each do |message| %>
    <p class="text-danger"><%= message %></p>
    <%end%>
    </div>
     <div class="form-group">  
     <%= form.label :doc_type, class:'form-label text-dark' %>
   <%= form.select :doc_type, options_for_select(Document::DOC_TYPES,selected: document.doc_type ), {prompt: 'Select document type'},{class: 'form-control form-control-lg rounded-lg bg-light text-dark mb-2'} %>
     <% @document.errors.full_messages_for(:doc_type).each do |message| %>
    <p class="text-danger"><%= message %></p>
    <%end%>
    </div>
     <div class="form-group">  
     <%= form.label :employee_id, class:'mb-2 text-dark' %>
     <%= form.select :employee_id, options_for_select(Employee.all.map{|employee|[employee.name_with_email, employee.id]}), {prompt: 'Select Employee'},{class: 'form-control form-control-lg rounded-lg bg-light text-dark mb-2'} %>
     <% @document.errors.full_messages_for(:employee_id).each do |message| %>
    <p class="text-danger"><%= message %></p>
    <%end%>
    </div>
    <div class="form-group">  
     <%= form.label :image, class:'mb-2 text-dark' %><br>
     <%= form.file_field :image, class:'form-control form-control-lg rounded-lg bg-light text-dark mb-2' %>
    </div>
    
  </div>
  <div class="row">
     <div class="colo-lg-12 mt-4 mb-4">
      <%= form.submit class: 'btn btn-primary btn-lg btn-outline-light rounded-lg'%>
      <%= link_to "Back to Documents",documents_path, class:'btn btn-outline-primary btn-lg rounded-lg' %>
      
     </div> 
    </div>
  </div>
<%end%>