<div class="col-lg-12">
  <!-- Card for Document Details -->
<div class="d-flex justify-content-center align-items-center fw-bolder ">
 <div class="card  bg-info text-light border-dark  " style="box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2), 0 4px 6px rgba(255, 255, 255, 0.1); width: 70%;">
    <div class="card-body text-center ">
      <h2 class="text-primary-emphasis">Documents Details</h2>
    </div>
  </div>
  </div>

      <!-- Add a row here to wrap the columns -->
      <div class="row mt-4">
        <div class="col-lg-6">
          <!-- If image is attached, show it -->
          <% if @document.image.attached? %>
            <%= image_tag @document.image, class: 'img-fluid rounded-0 mb-3' %>
          <% end %>

          <!-- Display document details -->
          <p class="  lead text-dark"><strong>Name: </strong><%= @document.name %></p>
          <p class="lead text-dark"><strong>Doc: </strong><%= @document.doc_type %></p>
          <p class="lead text-dark"><strong>Employee: </strong><%= @document.employee.name %></p>
        </div>  
      </div>

      <!-- Action buttons -->
      <div class="row mt-4 mb-2">
        <div class="col-lg-12">
          <%= link_to "Edit Document", edit_document_path(@document), class: "btn btn-primary btn-outline-dark btn-lg mr-2 rounded-lg" %>
          <%= link_to "Back to Documents", documents_path, class: "btn btn-outline-primary btn-lg rounded-lg" %>
        </div>
      </div>
    </div>
  </div>
</div>
